/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: normal ;
}
#root, #__next {
  isolation: isolate;
}

@import url('https://fonts.googleapis.com/css?family=Inter:400');

html {font-size: 100%;} /*16px*/

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

h1 {
  margin-top: 0;
  font-size: 64px;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 32px;
}

h2 {font-size: 32px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 16px;
}

h3 {font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
}

h4 {font-size: 16px;
    font-weight: 600;
    line-height: 1.5;}

small, .text_small {font-size: 12px;}

section {
    padding-top: 64px;
}

#about-sub-section {
    padding-bottom: 16px;
}

header, #hero-section, #about-sub-section, #news-section, #contact-section, footer{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    grid-auto-rows: minmax(112px, auto);
}

header {
    align-items: center;
    padding-top: 32px;
}

#hook {
    display: flex;
    justify-content: center;
}

#logo-square {
    grid-column: col-start 1 / span 1;
    width: 48px;
    height: 48px;
    background-color: #202020;
    justify-self: center;
    align-self: center;
    position:static;
}

#logo {
    grid-column: col-start 2 / span 5;
    align-self: center;
}

#nav-element-1 {
    grid-column: col-start 9 / span 1;
    display: flex;
    justify-content: center;
}

#nav-element-2 {
    grid-column: col-start 10 / span 1;
    display: flex;
    justify-content: center;
}

#nav-element-3 {
    grid-column: col-start 11 / span 1;
    display: flex;
    justify-content: center;
}

#hero-section {
    /*height: 80%;
    align-items: center;*/
}

#hero-text-box {
    grid-column: col-start 2 / span 4;
}

#about-sub-section {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

#about-text-box {
    grid-column: col-start 2 / span 4;
}

#news-container {
    grid-column: col-start 2 / span 10;
}

#news-items-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
}

#news-item{
    grid-column: span 2;
}

#contact-text {
    grid-column: col-start 2 / span 3;
}

#contact-form {
    grid-column: col-start 8 / span 4;
}

#footer-adress {
    grid-column: col-start 2 / span 4;
}

#footer-copyright {
    grid-column: col-start 11 / span 1;
}

#ill-placeholder {
    height: 112px;
    background-color: #d9d9d9;
    grid-column: col-start 7 / span 5;
}

#ill-placeholder-hero {
    height: 500px;
    background-color: #d9d9d9;
    grid-column: col-start 7 / span 5;
}

footer {
    padding-top: 32px;
}

button {
    border: 0px;
    padding: 8px 16px 8px 16px;
    border-radius: 24px;
    background-color: #202020;
    color: #f1f2f3;
}

a {text-decoration: none;}