/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/***************************************/
/*Padding between sections*/
section {
    padding-top: 64px;
}

/***************************************/
/*Setting upp grids*/
.grid-12-col {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
    grid-auto-rows: auto;
}

.grid-24-col {
    display: grid;
    grid-template-columns: repeat(24, [col-start] 1fr);
    gap: 20px;
    grid-auto-rows: auto;
}

/*Reusable classes for grid placement*/
.full-span-12-col {
    grid-column: col-start 2 / span 10;
}

.half-span-12-col {
    grid-column: col-start 2 / span 5;
}

.full-span-24-col {
    grid-column: col-start 3 / span 20;
}

.half-span-24-col {
    grid-column: col-start 3 / span 10;
}

.half-span-24-col-right {
    grid-column: col-start 13 / span 10;
}

/***************************************/
/*Styling for intro section*/

header {
    align-items: center;
    padding-top: 32px;
}

#logo-container {
    grid-column: col-start 2; /*setting span makes element overflow on vertical*/
    align-self: center;
    max-height: 64px;
}

.nav-element-desktop { /*applied to all nav-elements*/
    display: flex;
    justify-content: center;
}

#nav-element-projects {
    grid-column: col-start 9 / span 1;
}

#nav-element-about {
    grid-column: col-start 10 / span 1;
}

#nav-element-contact {
    grid-column: col-start 11 / span 1;
}

#nav-mobile { /*hide navigation for small screens*/
    display: none;
}

/***************************************/
/*Setting upp project links*/

#project-box-1 { /*placement in grid, separately for each link*/
    grid-column: col-start 3 / span 5;
}

#project-box-2 {
    grid-column: col-start 8 / span 5;
}
#project-box-3 {
    grid-column: col-start 13 / span 5;
}

#project-box-4 {
    grid-column: col-start 18 / span 5;
}

.project-image{ /*applied to all projects images*/
    background-color: transparent;
    width: 100%;
    height:100%;
    object-fit: cover; /*keeps aspect-ratio, fills the box*/
}


.project-titleBAH {
    position: relative;
    top: -3rem; /*move to bottom of image, not outside*/
    left: 12px;
    z-index: 2; /*place on top of image*/
}

span {
    
}



/***************************************/
/*Styling Contact section + Form*/

#social-icons-wrapper {
    display: flex;
    flex-direction: row !important;
}

#social-icon {
    max-width: 24px !important;
    margin-right: 16px;
}

.form-input-field {
    padding-top: 8px;
}
.form-input-field:last-of-type {
    padding-bottom: 8px;
}

.form-button {
    padding-top: 16px;
}

input, textarea{
    width: 100%;
}

/***************************************/
/*Styling footer*/
footer {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 12px;
    align-items: end;
}







