#header {
    display: flex
}

#hero-section {
    display: flex;
    flex-wrap: wrap;

}

#text-box {
}

#sub-section {
    display: flex;
    flex-wrap: wrap;

}

#news-items {
    display: flex;
    flex-wrap: wrap;

}

#contact {
    display: flex;
    flex-wrap: wrap;

}