@import "./style_styling.css";

/*MEDIA QUERIES, NARROW SCREENS*/

@media (max-width: 1000px) {

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: anywhere;
      }

    h1 {
        font-size: 42px;
        line-height: 1.2;
    }
    
    h2 {
        font-size: 36px;
        font-weight: 100;
        line-height: 1.2;
        padding-bottom: 16px;
    }
    
    h3 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.55px;
    }
    
    h4 {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
    }  

    button {
        overflow-wrap: break-word;
    }

    a:hover {
        transform: scale(99%);
    }

    /**********************************/
    /*Adjusting grid elements*/

    .grid-12-col, .grid-24-col {
        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr);
        gap: 16px;
        grid-auto-rows: auto;
        padding-left: 10%;
        padding-right: 10%;
    }

    .full-span-12-col {
        grid-column: span 2;
    }

    .half-span-12-col {
        grid-column: span 2; /* Takes full mobile width, pushing the next element down */
    }

    .half-span-12-col-right {
        grid-column: span 2; /* Moves onto its own new row */
    }

    /* 24-Column Classes -> Stacked Layout */
    .full-span-24-col {
        grid-column: span 2;
    }

    .half-span-24-col {
        grid-column: span 2;
    }

    .half-span-24-col-right {
        grid-column: span 2;
    }

    /* 3-Column Layout Remapping */
    .third-span-12-left,
    .third-span-12-center,
    .third-span-12-right,
    .two-third-span-12-center {
        grid-column: span 2; /* Force them to stretch to full width and stack */
    }

    /**********************************/
    /*General*/

    section {
        padding-top: 32px;
    }

    /**********************************/
    /*Header*/


    #logo-container {
        grid-column: col-start 1 / span 1;
    }

    #logo {
        max-width: 50%
    }

   .nav-element-desktop {
        display: none;
    }

    #nav-mobile { /*hide navigation for small screens*/
        grid-column: col-start 2 / span 1;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        
    }

    .nav-element-mobile {
        display: flex;
        justify-content: end;
    }

    /**********************************/
    /*Projects*/

    .project-boxes {
        padding-bottom: 16px ;
    }

    #project-box-1, #project-box-2, #project-box-3, #project-box-4 {
        grid-column: span 1;

    }

    /**********************************/
    /*Footer*/

    footer {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: end;
    }
    
  }

@media (max-width: 400px) {

    #logo {
        max-width: 75%
    }

    #placeholder-1, #placeholder-2, #placeholder-3, #placeholder-4 {
        grid-column: span 2;

    }
}